
/* цвет основного текста #757575

вточиный текст #212121
акцент  #2196F3;
 фон^ - background: #E5E5E5
      - header  #FFFFFF
      - hero #2F303A
*/
:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-text-color: #2196f3;
  --white-color: #ffffff;
}
/* Офрмление body*/
p,
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

body {
  color: var(--primary-text-color);
  background-color: var(--white-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}


/* Офрмление header*/

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px; 
  margin: 0 auto;
}

.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14x;
  letter-spacing: 0.02em;
  border: 1px solid #ECECEC;   
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header .container {
  display: flex;
  align-items: center; 

}
/* Офрмление логтипа*/

.logo {
  margin-right: 93px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration-line: none;
}

.logo > span {
  color: var(--accent-text-color);
}

.logo:visited {
  color: var(--secondary-text-color);
}

/* Офрмление навигационного меню и 
адресной информации */

.menu {
  list-style: none;
  font-style: normal;
  
}

.menu:visited {
  color: var(--secondary-text-color);
}

.menu-top {
  list-style: none;
  font-style: normal;
}

.menu-top:visited {
  color: var(--secondary-text-color);
}

.menu-top {
  display: flex;
}

.right {
  margin-left: auto;
}


.link {
  display: inline-block;
  padding-bottom: 32px;
  padding-top: 32px;
  text-decoration-line: none;
  color: var(--secondary-text-color);
}

.link:hover,
.link:focus {
  color: var(--accent-text-color);
}

.link-active {
  display: inline-block;
  padding-bottom: 32px;
  padding-top: 32px;
  text-decoration-line: none;
  color: var(--accent-text-color);
}

.item:not(:last-child) {
  margin-right: 50px;
}

.adress {
  color: var(--primary-text-color);
}

/* Офрмление блока hero*/

.hero {
 
 
  background-color: #2f303a;
  color: var(--white-color);
  text-align: center;
}


.title {
  padding-right: 252px;
  padding-left: 252px;
   display: block;
  padding-bottom: 30px;
  padding-top: 200px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  
  padding-right: 32px;
  padding-left: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  
  font-family: Roboto;
  color: var(--white-color);
  background-color: var(--accent-text-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.hero .button {
  margin-bottom: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* Офрмление блоков контетнта */

.block-name {
  padding-top: 94px;
  padding-bottom: 50px;
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.secret {
  display: none;
  
}

.block {
  display: flex;
  list-style: none;
  justify-content: space-between; 
 }

.spl {
  margin-bottom: 0;
  padding-bottom: 94px;
}

.list {
   padding-bottom: 94px;
  }

.list:not(:last-child) {
  margin-right: 30px; 
}


.list-team {
  text-align: center;
  margin-bottom: 94px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
  0px 1px 1px rgba(0, 0, 0, 0.14), 
  0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.list-team:not(:last-child) {
  margin-right: 30px;
}

.text {
  padding-left: 5px;
}

.text-title {
  padding-top: 94px;
  padding-bottom: 10px;

  color: var(--secondary-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}


.team {
  padding-top: 30px;
  padding-bottom: 10px;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 19;
}

.block-team {
  background: #F5F4FA;
}

.role {
  padding-bottom: 30px;
  font-size: 16px;
  line-height: 1.19;
}

/* Офрмление блоков футера */

.footer {
  padding-top: 60px;
  
  background-color: #2f303a;
  color: var(--white-color);
}
.footer:visited {
  color: var(--white-color);
}



.footer-spl {
  padding-top: 20px;
  padding-bottom: 9px;
  background-color: #2f303a;
  color: var(--white-color);
}
.footer-spl:visited {
  color: var(--white-color);

}

.down {
  padding-top: 0;
  padding-bottom: 9px;
  color: rgba(255, 255, 255, 0.6);
}

.down-spl {
  padding-top: 0;
  padding-bottom: 60px;
  color: rgba(255, 255, 255, 0.6);

}

.menu-down {
  /*display: block;
  padding-top: 0;
  padding-bottom: 9px;*/
}



/* страница Portfolio
оформление блока фильтров */

.filter {
  font-family: Roboto, sans-serif;
  text-decoration-line: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  list-style: none;
  color: var(--secondary-text-color);
}

.fb {
  background-color: #f5f4fa;
  text-align: center;
  cursor: pointer;
}

.fb:focus,
.fb:hover {
  color: var(--white-color);
  background-color: var(--accent-text-color);
}

/* оформление центрального блоrа постеров*/

.posters {
  text-decoration-line: none;
}

.posters:visited {
  color: #212121;
}

.posters-plogo {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.posters-ptext {
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
}
© 2021 GitHub, Inc.
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
Loading complete